.help-block{
	color:red;
}

.max_width {
    max-width: 1500px;
}

.input-group .faculty_sl {
    width: 200px;
}

.show_button {
    margin-top: 3px;
    margin-left: 10px;
    background-color: #85ce36 !important;
    color: #fff !important;
    
}

.send_sms_input {
    min-height: 120px;
    
}

