/*
	Theme Name: Mitri Events
	Created : 
	Updated : 
	Version: 1.0

	*/
	/* ========================================================================== */
	/* ========================================================================== */
	/* [Table of contents] */
	/* ========================================================================== */
	/* ========================================================================== */

/*	
	## Global
		- Padding/Margin
		- Section Padding
		- Block Title
		- Section Header
		- Page Banner
		
	## Fonts Settings	
		- Roboto
		- Roboto
		- Raleway
		- Arimo
		- Hind 
		- Myriad Pro Regular
		
	## Header
		- Top Header
			- Social
			- Logo Block
			- Register			
		- Menu Block
			- User
			- Expanding Search
			
	## Footer
		- Footer Main
			- Footer About
			- Customer Service Widget
			- Quick Links Widget
			- ContactUs Widget
			- NeweLetter Widget
			- CopyRights
			- Footer Menu
	
	## Page Banner
	
	## Section Header
	
	## Responsive
		- min-width: 1200
		- min-width: 992 to max-width: 1199
		- max-width: 991
		- max-width: 767
		- max-width: 639
		- max-width: 479
		*/

		/* ## Global */

		body {
			font-family: 'Roboto', sans-serif;
			font-size: 15px;
			color: #000;
			overflow-x: hidden;
		}
		.container-fluid{
			width: 100%;
		}
		.pt{
			padding-top: 35px;
		}
		.mb{
			margin-bottom: 20px;
		}
		.border{
			border: 1px solid #feca16;
			margin: 10px;
		}
		img {
			max-width: 100%;
			height: auto;
		}
		a {
			text-decoration: none;
			outline: 0 !important;
		}
		.col-md-12 a{
			text-decoration: none !important;
			color: #000;
		}
		/* - Padding/Margin */
		.no-padding {
			padding: 0;
		}
		.no-left-padding{
			padding-left: 0;
		}
		.no-right-padding {
			padding-right: 0;
		}
		.no-top-padding {
			padding-top: 0;
		}
		.no-bottom-padding {
			padding-bottom: 0;
		}
		.no-margin {
			margin: 0;
		}
		.no-left-margin {
			margin-left: 0;
		}
		.no-right-margin {
			margin-right: 0;
		}
		.no-top-margin {
			padding-top: 0;
		}
		.no-bottom-margin {
			margin-bottom: 0;
		}

		/* - OW pull-left/pull-right */
		.ow-pull-left  {
			float: left;
		}
		.ow-pull-right  {
			float: right;
		}

		/* - Section Padding */
		/*.section-padding {*/
		/*	padding-top: 60px;*/
		/*	padding-bottom: 60px;*/
		/*}*/

		/* - Block Title */
		.block-title {
			text-transform: uppercase;	
			letter-spacing: 1.12px;
			font-family: 'Roboto', sans-serif;
			color: #fff;
			font-weight: 700;
			font-size: 16px;
			margin: 0 0 18px 0;
			display: inline-block;
			position: relative;
			word-wrap: break-word;
		}
		.rot180{
		        transform: rotate(180deg);
		}

		/* - Section Header */
		.section-header {
			display: inline-block;
			width: 100%;
			text-align: center;
			margin-bottom: 50px;
		}
		.section-header h3 {
			margin: 0;
			text-transform: uppercase;
			font-size: 30px;
			font-weight: 600;
			letter-spacing: 0.9px;
			line-height: 28px;
			font-family: 'Roboto', sans-serif;
			padding-bottom: 30px;
			word-wrap: break-word;
		}
		.section-header span {
			font-size: 18px;
			letter-spacing: 2.88px;
			font-family: 'Roboto', sans-serif;
			font-weight: 600;
			font-style: italic;
			color: #feca16;
			line-height: 28px;
			text-transform: capitalize;
		}

		/* ## Page Banner */
		.banner_about{
		    background: url("images/banner/about-banner.jpg");
		}
		.banner_faculties{
		    background: url("images/banner/faculties.jpg");
		}
		.banner_gallery{
		    background: url("images/banner/galereya.jpg");
		}
		.banner_rules{
		    background: url("images/banner/rules.jpg");
		}
		.banner_contact{
		    background: url("images/banner/contact.jpg");
		}
		.banner_announcements{
		    background: url("images/banner/announcements.jpg");
		}
		.banner_administration{
		    background: url("images/banner/administration.jpg");
		    background-repeat: no-repeat;
			background-size: 100%;
			position: relative;
			height: -webkit-fill-available;
			z-index: 1;
			text-align: center;
			display: block;
			width: 100%;
		}


		.page-banner {
          
			background-repeat: no-repeat;
			background-size: 100%;
			position: relative;
			height: -webkit-fill-available;
			z-index: 1;
			text-align: center;
			display: block;
			width: 100%;
		}
		
		
		/*.page-banner::before{*/
		/*	position: absolute;*/
		/*	content: "";*/
		/*	left: 0;*/
		/*	right: 0;*/
		/*	top: 0;*/
		/*	bottom: 0;*/
		/*	display: inline-block;*/
		/*	background-color: rgba(41,54,62,0.9);*/
		/*}*/
		.page-banner .banner-content {
			position: absolute;
			z-index: 1;	
			top: 50%;
			left: 50%;
			-webkit-transform: translate(-50%, -50%);
			-moz-transform: translate(-50%, -50%);
			-ms-transform: translate(50%, -50%);
			transform: translate(-50%, -50%);
			text-shadow: 0 0 5px rgba(0,0,0,0.30);
		}
		.page-banner .banner-content::before,
		.page-banner .banner-content::after {
			position: absolute;
			content: "";
			top: 0;
			bottom: 0;
			background-color: #687075;
			width: 1px;	
		}
		.page-banner .banner-content::before {
			left: 0;	
		}
		.page-banner .banner-content::after {	
			right: 0;
		}
		.page-banner .banner-content h3 {	
			color: #fff;
			font-family: 'Roboto', sans-serif;
			font-weight: 700;
			font-size: 22px;
			letter-spacing: 1.1px;
			line-height: 32px;
			text-transform: uppercase;
			position: relative;
			border-bottom: 1px solid #687075;
			padding-bottom: 15px;
			margin-bottom: 15px;
			margin-top: 10px;
			display: block;
			padding-left: 80px;
			padding-right: 80px;
			word-wrap: break-word;	
		}
		.page-banner .banner-content .breadcrumb {
			background-color: transparent;
			border-radius: 0;
			margin-bottom: 15px;
			padding: 0;
		}
		.page-banner .banner-content .breadcrumb li {	
			text-transform: uppercase;
			font-size: 12px;
			color: #fff;
			word-wrap: break-word;
		}
		.page-banner .banner-content .breadcrumb li.active {
			color: #feca16;
		}
		.page-banner .banner-content .breadcrumb li:first-of-type a {
			margin-left: 0;
		}
		.page-banner .banner-content .breadcrumb li:last-of-type a {
			margin-right: 0;
		}
		.page-banner .banner-content .breadcrumb  a{
			text-decoration: none;
			font-size: 12px;
			letter-spacing: 0.12px;
			line-height: 28px;
			color: #fff;
			text-transform: uppercase;
			margin: 0 5px;
			word-wrap: break-word;
		}

		/* - Page Banner:: Services */
		.page-banner.services {
			background: url("images/service-banner.jpg"); 
			-webkit-background-size: cover;
			background-size: cover;
		}

		/* - Page Banner:: Event Grid */
		.page-banner.event-grid {
			background: url("images/event_grid-banner.jpg"); 
			background-size: cover;
		}

		/* - Page Banner:: Blog */
		.page-banner.blog {
			background: url("images/blog-banner.jpg"); 
		}

		/* - Page Banner:: 404 */
		.page-banner.error {
			background: url("images/error-banner.jpg"); 
		}

		/* ## Fonts Settings */

		/* - Roboto : font-family: 'Roboto', sans-serif; */
		/* latin-ext */
		@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese');

		/* ## Header */
		/* - Top Hedaer */
		.top-header {
			border-bottom: 1px solid #e5e5e5;
			border-top: 3px solid #feca16;   
			padding: 19px 0 19px;    
		}

		/* - Social  */
		.top-header .social {
			margin: 15px 0 15px;
		}
		.top-header .social ul {
			padding-left: 0;	
			margin-bottom: 0;
		}
		.top-header .social ul li {
			margin-right: 14px;
		}
		.top-header .social ul li:last-of-type {
			margin-right: 0;
		}
		.top-header .social ul li,
		.top-header .social ul li a {
			display: inline-block;
		}
		.top-header .social ul li a {
			/*background-color: #bec2c5;*/
			box-shadow: 0 0 5px rgba(0,0,0,0.30);
			color: #fff;
			font-size: 16px;
			height: 35px;
			text-align: center;
			transition: all 1s ease 0s;
			-webkit-transition: all 1s ease 0s;
			-moz-transition: all 1s ease 0s;
			-o-transition: all 1s ease 0s;
			width: 35px;
		}
		/*.top-header .social ul li a:hover {
			background-color: #feca16;
			color: #000;
		}*/

		/* - Logo Block */
		.top-header .logo-block {
			margin-top: 3px;
			text-align: center;	
		}
		.logo-block a {
			text-decoration: none;
		}
		.top-header .logo-block a h3{
			color: #29363e;
			display: block;
			font-family: 'Roboto', sans-serif;
			font-size: 20px;
			font-weight: 600;
			letter-spacing: 1.36px;
			margin: 6px 0 0;
			text-transform: uppercase;
			word-wrap: break-word;
		}

		/* - Register */
		.top-header .register {
			margin: 14px 0 14px;
			text-align: right;
			float: right;
		}

		.register p {
			display: flex;
			justify-content: flex-end;
			align-items: center;
			text-align: left;
		}

		.register p i {
			background: #feca2b;
			padding: 5px;
			width: 30px;
			height: 30px;
			margin: 10px;
			display: flex;
			align-items: center;
			justify-content: center;
			border-radius: 30px;
		}

		.top-header .register a {
			background-color: #949a9e;
			border-radius: 30px;
			color: #fff;
			display: inline-block;
			font-family: "Roboto";
			font-size: 12px;
			letter-spacing: 2.4px;
			line-height: 28px;
			padding: 5px 41px;
			text-decoration: none;
			text-transform: uppercase;
			transition: all 1s ease 0s;
			-webkit-transition: all 1s ease 0s;
			-moz-transition: all 1s ease 0s;
			-o-transition: all 1s ease 0s;
		}
		.top-header .register a:hover {
			background-color: #feca16;
			color: #000;
		}

		/* - Menu Block */
		.menu-block {	
			margin-top: -1px;
		}
		.menu-block .container {
			position: relative;
		}
		.navbar-fixed-top.menu-block .container {
			border: 2px solid #feca16;
			border-top: none;
			max-width: 1170px;
		}

		/* - User */
		.menu-block a.user {
			width: 82px;
			height: 81px;
			background-color: #feca16;
			display: inline-block;
			text-align: center;
			line-height: 100px;
			float: left;
			position: relative;
			left: 0;
		}
		.menu-block a.user i {
			border: 4px solid #fff;
			border-radius: 100%;
			font-size: 30px;
			height: 37px;
			width: 37px;
			line-height: 35px;
			color: #fff;
			transition: all 1s ease 0s;
			-webkit-transition: all 1s ease 0s;
			-moz-transition: all 1s ease 0s;
			-o-transition: all 1s ease 0s;
		}
		.menu-block .user:hover i  {
			border-color: #000;
			color: #000;	
		}

		/* - Expanding Search */
		.menu-block .menu-search {
			float: right;
			display: inline-block;
			height: 90px;
			width: 45px;
			text-align: center;
			border-left: 1px solid #e5e5e5;
			border-right: 1px solid #e5e5e5;
			position: relative;
		}
		.menu-block.navbar-fixed-top .menu-search {
			border: none;
		}
		.menu-search .sb-search-submit i {	
			font-size: 20px;
			color: #d0d0d0;
			transition: all 1s ease 0s;
			-webkit-transition: all 1s ease 0s;
			-moz-transition: all 1s ease 0s;
			-o-transition: all 1s ease 0s;
		}
		.menu-search .sb-search-submit:hover i {
			color: #29363e;
		}
		.menu-search .sb-search-input::-webkit-input-placeholder {
			color: #000;
		}
		.menu-search .sb-search-input:-moz-placeholder {
			color: #000;
		}
		.menu-search .sb-search-input::-moz-placeholder {
			color: #000;
		}
		.menu-search .sb-search-input:-ms-input-placeholder {
			color: #000;
		}
		.menu-search .sb-search {
			position: relative;
		}
		.menu-search .sb-icon-search,
		.menu-search .sb-search-submit {
			width: auto;   
			display: block;
			position: absolute;
			right: 0px;
			top: 0;
			padding: 0;
			margin: 0;
			text-align: center;
			cursor: pointer;
		}
		.menu-search .sb-search-submit {
			background: transparent; 
			-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
			filter: alpha(opacity=0);
			opacity: 1;
			color: transparent;
			border: none;
			outline: none;
			z-index: 1;
			position: absolute;
			left: 0;
			right: 0;
			top: 30px;
			margin:0 auto;
			width: 100%;
		}
		/* Open state */
		.menu-search .sb-search.sb-search-open,
		.menu-search .no-js .sb-search {
			width: 100%;
			-webkit-transition: width 0.8s;
			-moz-transition: width 0.8s;
			transition: width 0.8s;
			-webkit-backface-visibility: hidden;
		}
		.menu-search .sb-search.sb-search-open .sb-icon-search,
		.menu-search .no-js .sb-search .sb-icon-search {
			color: #fff;
			z-index: 11;
		}
		.menu-search .sb-search.sb-search-open .sb-search-submit,
		.menu-search .no-js .sb-search .sb-search-submit {
			z-index: 90;
		}
		.menu-search .sb-search-input {
			position: absolute;
			top: 65px;
			right: 0px;
			border: none;
			outline: none;
			background: none;
			width: 0;
			height: 0;
			margin: 0;
			z-index: 11;
			font-family: 'Roboto', sans-serif;
			font-size: 16px;
			color: #000;
			-webkit-transition: width 0.3s;
			-moz-transition: width 0.3s;
			transition: width 0.3s;
			-webkit-backface-visibility: hidden;
		}
		.menu-search .sb-search.sb-search-open .sb-search-input {
			top: 81px;
			padding: 10px 30px 10px 30px;
			background-color: #fff;
			width: 280px;
			height: 40px;
			box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
			-webkit-transition: width 0.3s;
			-moz-transition: width 0.3s;
			transition: width 0.3s;
			-webkit-backface-visibility: hidden;
		}

		/* ## Footer */
		.footer-main {	
			background-color: #29363e;
			padding-top: 74px;
		}
		.footer-main .row {
			margin-bottom: 40px;
		}

		/* - Footer About */
		.footer-main .footer-about {
			position: relative;
			text-align: center;
			border-bottom: 1px solid #3a464d;
			padding-bottom: 32px;
			display: inline-block;
			margin-bottom: 55px;
		}
		.footer-main .logo-block {
			position: absolute;
			left: 0;
		}
		.footer-main .logo-block h3 {
			text-transform: uppercase;
			color: #fefefe;
			font-size: 20px;
			margin: 11px 0 0;
			font-weight: 600;	
			letter-spacing: 1.36px;
			word-wrap: break-word;
		}
		.footer-main .footer-about .footer-about-content {
			margin-left: 185px;
			text-align: left;
		}
		.footer-about-content p {
			color: #a4b0b6;
			line-height: 28px;
			letter-spacing: 0.6px;
		}

		/* - Widget */
		.footer-main .widget ul {
			padding-left: 0;
		}
		.footer-main .widget ul li {
			display: inline-block;
		}
		.footer-main .widget ul li a {
			color: #a4b0b6;
			font-family: 'Roboto', sans-serif;
			font-size: 13px;
			line-height: 30px;
			letter-spacing: 0.39px;
			text-transform: uppercase;
			font-weight: 500;
			text-decoration: none;
			width: 100%;
			transition: all 1s ease 0s;
			-webkit-transition: all 1s ease 0s;
			-moz-transition: all 1s ease 0s;
			-o-transition: all 1s ease 0s;
		}
		.footer-main .widget_customer_services ul li,
		.footer-main .widget_quick_links ul li {
			display: inline-block;
			width: 100%;	
		}
		.footer-main .widget_customer_services ul li a:hover,
		.footer-main .widget_quick_links ul li a:hover  {
			margin-left: 10px;
			color: #feca16;
		}
		.footer-main .widget.widget_quick_links{
			padding-left: 4px;
		}

		/* - ContactUs Widget */
		.footer-main .widget_contactus {
			padding-left: 43px;
		}
		.footer-main .widget_contactus .contactinfo-box {
			position: relative;
			display: inline-block;
			margin-bottom: 7px;
		}
		.footer-main .widget_contactus .contactinfo-box:hover i {
			color: #feca16;
		}
		.footer-main .widget_contactus .contactinfo-box:last-of-type {
			margin-bottom: 0;
			display: block;
		}

		.footer-main i.fa-envelope {
			font-size: 15px !important;
		}

		.footer-main .widget_contactus .contactinfo-box i {
			position: absolute;
			left: 0;
			top: 5px;
			color: #a4b0b6;
			font-size: 20px;
			transition: all 1s ease 0s;
			-webkit-transition: all 1s ease 0s;
			-moz-transition: all 1s ease 0s;
			-o-transition: all 1s ease 0s;
		}
		.footer-main .widget_contactus .contactinfo-box  p{
			margin-left: 25px;
			color: #a4b0b6;
			font-size: 15px;
			font-family: 'Arimo', sans-serif;
			padding-right: 40px;
			line-height: 24px;
		}
		.footer-main .widget_contactus .contactinfo-box p a {
			text-decoration: none;
			color: #a4b0b6;
			display: block;
			transition: all 1s ease 0s;
			-webkit-transition: all 1s ease 0s;
			-moz-transition: all 1s ease 0s;
			-o-transition: all 1s ease 0s;
		}
		.footer-main .widget_contactus .contactinfo-box p a:hover {
			color: #feca16;
			margin-left: 5px;
		}

		/* - Neweletter Widget */
		.footer-main .widget_newsletter {
			padding-left: 23px;
		}
		.footer-main .widget_newsletter p {
			color: #a4b0b6;
			font-family: 'Arimo', sans-serif;
			margin-top: 12px;
			padding-right: 15px;
		}
		.footer-main .widget_newsletter .input-group {
			margin-bottom: 27px;
			margin-top: 25px;
			margin-right: 3px;
		}
		.footer-main .widget_newsletter .form-control {
			border-radius: 0;
			box-shadow: none;
			border: none;
			min-height: 44px;
			padding-left: 23px;
			text-transform: uppercase;
			color: #888;
			font-size: 10px;
			letter-spacing: 2px;
			line-height: 24px;
			font-family: 'Arimo', sans-serif;	
			z-index: 1;
		}
		.footer-main .widget_newsletter .input-group-btn .btn {
			background-color: #feca16;
			font-size: 18px;
			text-transform: uppercase;
			font-family: 'Hind', sans-serif;
			border-radius: 0;
			color: #fff;
			line-height: 24px;
			min-height: 44px;
			position: relative;
		}
		.footer-main .widget_newsletter .input-group-btn .btn::before {
			position: absolute;
			content: "";
			left: 0;
			right: 0;
			width: 0;
			bottom: 0;
			top: 0;
			background-color: rgba(41,54,62,1);
			transition: all 0.3s ease 0s;
			-webkit-transition: all 0.3s ease 0s;
			-moz-transition: all 0.3s ease 0s;
			-o-transition: all 0.3s ease 0s;
			z-index: -1;
		}
		.footer-main .widget_newsletter .input-group-btn .btn:hover::before{
			width: 100%;
		}
		.footer-main .widget_newsletter ul {
			padding-left: 0;
		}
		.footer-main .widget_newsletter ul li {
			display: inline-block;
			margin-right: 8px;
		}
		.footer-main .widget_newsletter ul li:last-of-type {
			margin-right: 0;
		}
		.footer-main .widget_newsletter ul li a {
			height: 37px;
			width: 37px;
			display: inline-block;
			line-height: 37px;
			text-align: center;
			text-decoration: none;
			color: #fff;
			font-size: 13px;
			background-color: #49545b;
			border-radius: 100%;
			transition: all 1s ease 0s;
			-webkit-transition: all 1s ease 0s;
			-moz-transition: all 1s ease 0s;
			-o-transition: all 1s ease 0s;
		}
		.footer-main .widget_newsletter ul li a:hover {
			background-color: #feca16;
			color: #fff;	
			-ms-transform: rotate(360deg); /* IE 9 */
			-webkit-transform: rotate(360deg); /* Chrome, Safari, Opera */
			transform: rotate(360deg);
		}
		.footer-main .widget_newsletter a + .tooltip > .tooltip-inner {
			background-color: #feca16;
			color: #fff;
		}
		.footer-main .widget_newsletter a + .tooltip > .tooltip-arrow { 
			border-bottom-color: #feca16;	
		}
		/* - Footer Menu */
		.footer-menu  {
			border-top: 1px solid #3a464d;
			padding-top: 31px;
			margin-bottom: 20px;
			display: inline-block;
			width: 100%;
		}

		/* - CopyRights */
		.footer-menu .copyrights p {
			color: #a4b0b6;
			font-size: 13px;
			letter-spacing: 0.39px;
			line-height: 30px;
			margin-bottom: 0;
		}

		/* - Footer: OW Navigation */
		.footer-menu .ow-navigation .navbar-collapse {
			padding-right: 0;
		}
		.footer-menu .ow-navigation .nav.navbar-nav > li {
			margin: 0 12px;
		}
		.footer-menu .ow-navigation .nav.navbar-nav > li:last-of-type{
			margin-right: 0;
		}
		.footer-menu .ow-navigation .nav.navbar-nav > li > a {
			padding: 5px 5px;
			color: #a4b0b6;
			font-size: 12px;
			letter-spacing: 0.36px;
			font-family: 'Roboto', sans-serif;
			font-weight: 400;
		}
		.footer-menu .ow-navigation .nav.navbar-nav > li.active > a,
		.footer-menu .ow-navigation .nav.navbar-nav > li > a:hover {
			color: #feca16;
		}
		.footer-menu .ow-navigation .nav.navbar-nav > li:last-of-type > a {
			padding-right: 0;
		}


		.adm_tab {
			margin: 30px 0;
		}
		.per_item{
			

		}
		.per_item:hover{
			background: #ffffff;
			box-shadow: 0px 5px 20px rgba(0,0,0,0.3);
		}

		.per_foto {
			text-align: center;
			padding: 15px;
			float: left;
		}

		.per_foto img {
			width: 100px;
			height: 100px;
			border-radius: 50%;
			object-fit: cover;
		}
		.per-name h4::after{
			content: "";
			display: block;
			width: 3px;
			height: 100%;
			background-color: #ff0000;
		}
		.per_name {
			border-radius: 0 0 10px 10px;
			background: #feca16
		}
		.lavozim::after{
			content: "";
			display: block;
			width: 60px;
			height: 2px;
			background-color: #fff;
		}
		.per-name{
			display: table ;

		}
		.per-name h4{
			display: table-cell ;
			vertical-align: middle ;
		}
		/*================================================*/

		.per__blog{
			margin-top: 10px;
			box-shadow: 0px 5px 20px rgba(0,0,0,0.1);
			border-radius: 10px;
			padding: 25px;
			line-height: 26px;
			min-height: 250px;
		}

		.per__blog .per_img img{
			width: 200px;
			height: 200px;
			border-radius: 50%;
			object-fit: cover;
			float: right;
			margin: 10px;
		}
		.per__blog .per_text{
			text-align: justify;
		}
		.per__blog .per_title  h3 span:nth-child(1){
			font-size: 50px !important;
			color:#feca16;
		}

		.per_text h5 {
			margin: 20px 0;
			font-size: 18px;
		}

		.per_text p {
			margin-bottom: 0px;
		}

		/* ========================================================================== */
		/* ========================================================================== */
		/* [ Responsive ] */
		/* ========================================================================== */
		/* ========================================================================== */

		/* - min-width: 1200 */
		@media (min-width: 1200px) {
			.container {
				width: 1200px;
			}
		}

		/* - min-width: 992 to max-width: 1199 */
		@media only screen and (min-width: 992px) and (max-width: 1199px) {
			/* - Menu Block */
			.menu-block .menu-search {
				width: 70px;
			}

			/* - Footer Main */
			.footer-main .widget_newsletter ul li {
				margin-right: 6px;
			}
		}

		/* - max-width: 991 */
		@media (max-width: 991px) {
			/* - Menu Block */	
			.menu-block a.user {
				position: absolute;
				left: 15px;		
			}
			.menu-block .col-sm-12 {
				padding: 0;
			}
			.menu-block.navbar-fixed-top  a.user {
				display: none;		
			}
			.menu-block a.user {
				height: 60px;
				width: 60px;
				line-height: 78px;
				z-index: 2;
			}	
			.menu-block .menu-search {
				right: 80px;
				border: none;
				width: 20px;
				height: 59px;
				position: absolute;
			}
			.menu-search .sb-search.sb-search-open .sb-search-input {
				top: 60px;
			}
			.menu-search .sb-search-submit {
				top: 21px;
			}

			/* - Footer Main */
			.footer-main .widget:nth-child(2n+1) {
				clear: both;
				margin-bottom: 20px;
			}
			.footer-main .widget_contactus,
			.footer-main .widget_newsletter,
			.footer-main .widget.widget_quick_links {
				padding-left: 15px;
			}

			/* - Footer Menu */
			.footer-menu {
				padding-top: 15px;
			}
			.footer-menu .ow-navigation {
				margin-top: -30px;
			} 
			.footer-menu .ow-navigation .navbar-toggle {
				margin-top: 0;
			}
			.footer-menu .ow-navigation .nav.navbar-nav > li {
				margin: 0;
			}
			.footer-menu .ow-navigation .navbar-nav {
				border-color: #3a464d;
			}
			.footer-menu .ow-navigation .nav.navbar-nav > li > a {
				padding-left: 0;
			}
			.footer-menu .ow-navigation .nav.navbar-nav > li > a:hover {
				color: #feca16;
			}
			.footer-menu .dropdown-menu > li > a {
				color: #a4b0b6;
				font-size: 12px;
			}
			.footer-menu .ow-navigation .nav.navbar-nav .dropdown-menu li > a {
				color: #a4b0b6;
				font-size: 12px;
				font-weight: 400;
				background-color: transparent;
				padding-top: 5px;
				padding-bottom: 5px;
			}
			.footer-menu .ow-navigation .nav.navbar-nav .dropdown-menu li:hover > a {
				color: #feca16;
			}
			h1{
			    font-size: 25px;
			}
			.mt_50{
			    margin-top: 25px;
			}
		}

		/* - max-width: 767 */
		@media (max-width: 767px) {	
			/* - Top Header */
			.top-header {
				padding-top: 0;
				padding-bottom: 7px;
			}
			.top-header .social,
			.top-header .register {
				margin: 15px 0 10px;
			}
			.section-padding {
				padding-top: 30px;
				padding-bottom: 30px;
			}
		}

		/* - max-width: 639 */
		@media (max-width: 639px) {
			/* - Top Header */
			.top-header .logo-block {
				margin-top: 0px;
			}	
			.page-banner .banner-content h3 { 
				padding-left: 40px;
				padding-right: 40px;
			}
			/* - Footer Main */
			/* - Newsletter widget */	
			.footer-main .widget_newsletter ul li {
				margin-right: 0;
				margin-bottom: 5px;
			}
			.footer-main .widget_newsletter ul li a {
				height: 30px;
				width: 30px;
				line-height: 30px;
			}
		}

		/* - max-width: 479 */
		@media (max-width: 479px) {
			/* - Top Header */
			.top-header .col-xs-6 {
				width: 100%;
				float: none;
				text-align: center;
			}
			.menu-search .sb-search.sb-search-open .sb-search-input {
				width: 210px;
			}

			/* - Footer Main */		
			/* - Footer About */
			.footer-about img {
				max-width: 46px;
			}
			.footer-main .logo-block {
				position: relative;
				display: block;
				margin-bottom: 30px;
			}
			.footer-main .logo-block h3 {
				font-size: 24px;
			}
			.footer-main .footer-about .footer-about-content {
				margin-left: 0px;
			}

			/* - Footer */
			.footer-main .widget{
				width: 100%;
				margin-bottom: 20px;
			}
			.footer-main .widget:last-of-type{
				margin-bottom: 0;
			}
			.footer-main .widget_contactus .contactinfo-box {
				width: 100%;
			}

			/* - Section Header */
			.section-header h3 {
				font-size: 20px;
				letter-spacing: 0.5px;
			}

			/* - Page Banner */
			.page-banner .banner-content h3 {
				font-size: 18px;
			}
			.page-banner .banner-content {
				left: 0;
				right: 0;
				-webkit-transform: translate(0, -50%);
				-moz-transform: translate(0, -50%);
				-ms-transform: translate(0, -50%);
				transform: translate(0, -50%);
			}
			.page-banner .banner-content::before,
			.page-banner .banner-content::after {
				width: 0;
			}
		}
	.img-box{
	    margin: 5px;
	}
		.img-box img {
			width: 149px;
			height: 149px;
			object-fit: cover;
		}


		a.more_b {
			text-decoration: none;
			padding: 3px 22px;
			border: 2px solid #feca16;
			color: #222;
			text-transform: uppercase;
			font-weight: 600;
			font-family: 'Raleway', sans-serif;
			letter-spacing: 1.8px;
			font-size: 12px;
			line-height: 28px;
			text-align: center;
			margin-top: 12px;
			display: inline-block;
			position: relative;
			z-index: 1;
		}

		a.more_b:hover {
			color: #fff;
		}

		a.more_b:hover::after {
			opacity: 1;
			width: 100%;
		}

		a.more_b::after {
			content: "";
			position: absolute;
			transition: all 0.3s ease 0s;
			z-index: -1;
			background-color: #feca16;
			height: 103%;
			left: 50%;
			opacity: 0;
			top: 50%;
			transform: translateX(-50%) translateY(-50%);
			width: 0;
		}
		
		
		
		button.more_b {
		    margin: 15px 0px;
			text-decoration: none;
			padding: 3px 22px;
			border: 2px solid #feca16;
			color: #222;
			text-transform: uppercase;
			font-weight: 600;
			font-family: 'Raleway', sans-serif;
			letter-spacing: 1.8px;
			font-size: 12px;
			line-height: 28px;
			text-align: center;
			margin-top: 12px;
			display: inline-block;
			position: relative;
			z-index: 1;
			box-shadow: -1px -1px 25px -2px rgba(0,0,0,0.22)
		}

		button.more_b:hover {
			color: #fff;
		}

		button.more_b:hover::after {
			opacity: 1;
			width: 100%;
		}

		button.more_b::after {
			content: "";
			position: absolute;
			transition: all 0.3s ease 0s;
			z-index: -1;
			background-color: #feca16;
			height: 103%;
			left: 50%;
			opacity: 0;
			top: 50%;
			transform: translateX(-50%) translateY(-50%);
			width: 0;
		}
		
		

		.introduction-block img {
			width: 300px !important;
			height: 200px !important;
			object-fit: cover;
			border: 1px solid #fff;
		}

		.introduction-block:hover img {
			box-shadow: 0 0 8px 8px rgba(255, 255, 255, 0.5);
		}

		.introduction-block a:hover  {
			text-decoration: none;
		}

		.news_ img {
			width: 297px;
			height: 240px;
			object-fit: cover;
		}

		.latest-blog a.more_b {
			max-width: 300px;
			width: 100%;
			box-shadow: 0 0 5px 5px rgb(230, 230, 230);
		}

		.clear_ {
			clear: both;
		}

		.widget_customer_services {
			color: #fff;
			float: left;
		}

		.catchphrase_img {
			float: left;
		}

		.catchphrase_text {
			margin-left: 15px;
			margin-top: 15px;
			float: left;
			    max-width: 166px;
		}

		.widget_quick_links i {
			color: #a4b0b6;
			font-size: 30px;
			margin-right: 10px;
		}

		.widget_quick_links i:hover {
			color: #feca16;
			transition: all 1s ease 0s;
			-webkit-transition: all 1s ease 0s;
			-moz-transition: all 1s ease 0s;
			-o-transition: all 1s ease 0s;
		}

		.faq_ {
			background: #ececec;
		}

		.faq_ a.more_b {
			max-width: 300px;
			width: 100%;

		}
		.text-center{
			text-align: center !important;
		}
		/*Contactus*/
		.contact_box{
			align-content: center;
			align-items: center;
			justify-content: center;
			border: 2px solid #feca16;
			    height: 384px;
		}
		.print_but{
		    position: absolute !important;
    left: 164px;
    top: 8px;
		}
		.lin_hei p{
		        line-height: 1.8;
		}
		.marg_5{
		    margin:5px;
		}
		.fl_direc{
		    flex-direction:column;
		}
		.contact_box h3{
		    height: 90px;
			padding: 15px;
			background-color: #feca16;
			text-align: center !important;
			margin: 0;
		}
		.contact_box span{
			background-color: #feca16;
            margin: 17px;
			font-size: 40px;
			padding: 30px;
			width: 100px;
			height: 100px;
			border-radius: 50%;
			line-height: 38px;
			-webkit-transition: all .1s;
			-moz-transition: all .1s;
			-o-transition: all .1s;
			transition: all .1s;
		}
		.contact_box span:hover
		{
			border: 1px solid #feca16;
			background-color: #fff;
		}

		.info_box a{
			text-decoration: none;
			color: #000;
		}
		.info_box{
			/*margin-top: 30px;*/
			
		}

		/*social*/
		.a-items{
			    
    padding: 10px;
    min-height: 150px;
    margin-bottom: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

		}
		.a-items a{
			display: table-cell !important;
			vertical-align: middle !important;
			text-align: center !important;
		}
		.a-items a i{
			font-size: 36px;
		}
		.center-me{
			display: block;
			vertical-align: middle;
		}
		/*Modal-image*/
		.modalImg img{
			margin-top: 15px;	
			margin-bottom: 25px;
		}
		/*apply*/
		#rotate {
			-webkit-transition: all 0.8s ease;
			-moz-transition: all 0.8s ease;
			-o-transition: all 0.8s ease;
			-ms-transition: all 0.8s ease;
			transition: all 0.8s ease;
		}

		#rotate:hover {
			-webkit-transform: rotate(360deg);
			-moz-transform: rotate(360deg);
			-o-transform: rotate(360deg);
			-ms-transform: rotate(360deg);
			transform: rotate(360deg);
		}
		.newapply{
			text-align: center;
		}
		.newapply span{
			padding:50px 60px 50px 60px;
			margin-bottom: 50px;
			font-size: 70px;
			border: 1px solid #feca16;
			border-radius: 50%;
			color: #feca16;
		}
		.newapply p{
			margin-bottom: 10px !important;
		}
		.newapply p a{
			padding-right: 50px;
			padding-left: 50px;
			padding-top: 10px;
			padding-bottom: 10px;
			font-weight: 700;
			background-color: #feca16;
			margin-bottom: 35px;
			text-decoration: none;
			color: #000;
		}
		.fa.fa-plus-circle{
			font-size: 5px !important`;
		}
		.form_login label{
			font-size: 20px;
			margin: 15px 0;
			color: #333;
			width: 100%;
		}
		.form_login input{
			padding: 5px 25px;
			border-radius: 5px;
		}
		input::-webkit-input-placeholder{
			font-size: 18px;
		}
		.login_form input {
			flex: 1 1 auto;
			padding: 10px;
			width: 100%;
		}
		.checkbox{
			flex: none;
			padding: 0;
		}
		.button {
			border: none;
			margin-top: 15px;
			padding: 10px 60px;
			background-color: #feca16;
			font-weight: 700;
			float: right;
		}
		.radio_items{
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			justify-content: center;
		}
		.bd-example ul{
			list-style-type: none;
		}
		.f_wrap{
		    flex-wrap: wrap;
		}
		.d-lg-flex .item_1,.d-lg-flex .item_2,.d-lg-flex .item_3{
			display: inline-block;
			padding: 50px;
			width: 100%;
			border: 1px solid #ddd;
			margin: 5px;
			text-align: center;
		}
		.d-lg-flex .item_1 input,.d-lg-flex .item_2 input,.d-lg-flex .item_3 input{
			width: 30px;
			height: 30px;
		}
		.radio_text p{
			font-size: 13px !important;
		}
		.form_action input{
			padding: 5px;
			border-radius: 5px;
			border: 1px solid #feca16;
			color: #000;
		}
		.items input{
			width: 100%;
			text-align: center;

		}
		.block_1{
			margin: 50px;

		}
		.block_11{
		    margin: 20px;
		}
		.form-control{
			
		}
		.form-control:focus{
			-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(241, 196, 15, .6);
			box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8pxrgba(241, 196, 15, .6);
			border-color: #f1c40f;
		}
		
		.formError{
			-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(241, 196, 15, .6);
			box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8pxrgba(241, 196, 15, .6);
			border-color: red ;
		}
		.wid100{
		    width:100%;
		}
		.cursor_pointer{
		    cursor:pointer;
		}
		label{
			width: 100%;
			margin: 10px 10px 25px;
			text-align: left;
		}
		.applyFormButton a{
			text-decoration: none;
			color: #000;
			padding: 5px 40px;
			background-color: #feca16;
		}
		.gallery_container .gallery{
			margin: 0 auto;
			justify-content: center;
			display: table-cell;
			text-align: center;
		}
		.img_obfit{
		        width: 310px !important;
    height: 314px;
    object-fit: cover;
		}
		.gallery_container .gallery a{
			padding: 10px;
			position: relative;
			display: inline-block;
			overflow: hidden;
		}
		.gallery_container .gallery a img{ 
			-webkit-transition: .5s;
			-o-transition: .1s;
			-moz-transition: .5s;
			transition: .5s;
			width: 269px;
            height: 213px;
			object-fit: cover;
		}
		.gallery_container .gallery a img:hover{ 
			transform: scale(1.2);
			-webkit-transform: scale(1.2);
			-o-transform: scale(1.2);
			-moz-transform: scale(1.2);
		}

		.vheight{
			height: 50vh;
		}
		.relative{
			position: relative;
			padding: 15px 0 0 0 ;
			top: -100px;
			background-color: rgba(255,255,255,0.50);
			z-index: 1;
			box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.50);
		}
		.h3-b50{
			margin-bottom: 50px;
		}
		.h3-t50{
			margin-top: 50px;
		}
		.content_block{
			margin-bottom: 100px;
		}
		.content-block-img-left{
			width: 250px;
			object-fit: cover;
			object-position: center;
			float: left;
			height: 250px;
			margin: 25px 15px;
		}
		.content-block-img-right{
			position: relative;
			width: 100%;
			margin-top: 30px !important;
			border: 3px solid #feca16;
			object-fit: cover;
			object-position: center;
			height: 250px;
			margin: 0 15px;
		}
		.content_block h3::after{
			width: 100px;
			height: 100px;
			content: "";
			background-color: #feca16;
		}
		.right_bar ul{
			list-style-type: none;
			margin: 0 auto;
		}
		.right_bar ul li{

		}
		.right_bar ul{
			margin-top: 30px;	
		}
		.bold{
			font-weight: 700;
			padding: 15px;	
			background-color: #feca16;
		}
		.border li{
			padding: 15px;
			border-bottom: 1px solid #ccc;
		}
		.border li:hover,
		.border li:active,
		.border li:focus{
			background-color: #feca16;
			cursor: pointer;
			color: #000 !important;
		}
		.border li a{
			padding: 15px;
			text-decoration: none;
			color: #797979;
			font-weight: 500;
		}
		.border li:hover a{color: #000;}
		.social-icon i{
			text-align: center !important;
			font-size: 22px !important;
			margin: 30px 30px 0 0;
		}
		.social-icon{
			margin: 15px;
			border-bottom: 2px solid #feca16;
			width: 50%;
			padding-bottom: 20px;
		}
		.social-icon a{
			color: #333;
			-webkit-transition: .8s all ease;
			-o-transition: .8s all ease;
			-moz-transition: .8s all ease;
			-transition: .8s all ease;
		}
		.social-icon a:hover{
			color: #ccc;
		}






		.crm_button {
			font-size: 12px !important;
			display: flex !important;
            align-items: center;
			margin: 0 !important;
			padding: 5px 15px !important;
			background: #feca2b !important;
			color: #000000 !important;
			text-align: center !important;
			font-weight: bold !important;
			min-height: 90px;
		}
		.p_val{
			font-size: 15px;
			font-weight: 110;
			color: #ff0000;
			margin-top: 
			10px
			;
		}
		.slider_img_header{
			-webkit-width: 100% !important;
			-o-width: 100% !important;
			-moz-width: 100% !important;
			width: 100% !important;
			height: 25% 	;
			object-fit: cover;
		}


		/*____________________________Intro_Apply_________________________*/

		.table-striped
		{
			font-family: 'Roboto', sans-serif;
		}
		.facult_title {
			background-color: #feca2b;
			border-radius: 15px 15px  0 0; 

		}
		.facult_title h4{
			text-align: center;
			padding: 10px;
		}
		.facult_main{
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			align-self: center;

		}
		.facult_main{
			background-color: #d2d2d2;
			border-bottom: 2px solid #fff;

		}
		.facult_main .fac_number{
			margin: 15px;
			border-radius: 50%;
			padding: 10px;
			width: 30px;
			height: 30px;
			background-color: #fff;
			display: flex;
			align-items: center;
			justify-content: center;
			align-self: center;
		}
		.facult_main .fac_text{
			background-color: #f7f7f7;
			width: 100%;
			padding: 10px;
		}
		.facult_main .fac_foo{
			background-color: #d2d2d2;
			padding: 10px;
			width: 99px;
		}
		.facult_main .fac_foo span{
			color: #ff8227;
			font-size: 16px;
			font-weight: 900;
		}
		.tmain p span{
			color: #ff8227;
			font-size: 16px;
			font-weight: 900;
		}
		.m_0{
			margin: 0;
		}
		.shadow_facult{
			box-shadow: -1px -1px 25px -2px rgba(0,0,0,0.22);
			border-radius: 15px;
		}
		.border_table{
			border: 1px solid #ababab;
		}
		.df{
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
		}
		.m0{
			margin: 0;
		}
		.mt_50{
			margin-top: 50px;
		}
		.p0{
			padding: 0;
		}
		.p20{
			padding: 20px;
		}
		.active_table{
			background-color: #adadad;
		}
		.table-striped thead tr th h1{
			border-radius: 15px 15px 0 0; 
		}
		.table-striped tbody tr th{
			border-right: 1px solid #000;
		}
		.table_footer{
			box-shadow: -1px -1px 25px -2px rgba(0,0,0,0.22);
			border-radius: 15px; 

		}
		.table_footer .tfooter{
			height: 100px;
			background-color: #feca2b;
			display: -webkit-box;
			border-radius: 15px 15px 0 0; 

			border-radius: 15px 15px 0 0; 
		}
		.table_footer .tfooter h3{
			display: table-cell;
			vertical-align: middle;
			text-align: center;
			padding: 10px;

		}
		.table_footer .tmain{
			padding: 10px;
			background-color: #ffffff;
			border-radius: 0 0 15px 15px; 
		}
		.table_footer .tmain p{
			padding: 5px;
		}
		.col-md-4{
			border-radius: 15px 15px 0 0; 
		}


		/*________________ Intro ______________*/
		.intro_block{
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			justify-content: space-around;
		}
		.block_10,.block_2{
		    /*width: 80%;*/
			width: 320px;
            height: 150px;
			display: flex;
			justify-content: space-between;
			align-items: center;
			box-shadow: -1px -1px 25px -2px rgba(0,0,0,0.22);
		}
		.block_10{
		    padding:10px;
			border: 2px solid #e0e0e0;
			margin: 0 auto;
			-webkit-transition: .5s;
			-moz-transition: .5s;
			-o-transition: .5s;
			transition: .5s;
			/*border-radius: 25px;*/
			background-color: #fff ;
		}
		.block_2{

		}
		.right{
			float: right;
			display: flex;
			align-self: center;
		}
		.right_angle{
			font-size: 59px;
			font-weight: 600 !important;
			color: #feca2b;
		}
		.img_intro{
			width: 150px ;
			margin: 0 auto;
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
		}
		.padding_0{
		    padding:0;
		}
.m_auto{
	margin: 0 auto;
}
.lab_el{
	text-align: center;
}

/*----------chekbox --------------*/
input[type=checkbox]{display: none;}

	input[type=checkbox] + label:before {
		content: "\2713";
		color: transparent;
		display: inline-block;
		border: 2px solid #feca2b;
		font-size: 30px;    
		line-height: 10px;
		margin: 0 auto;
		height: 20px;
		width: 20px !important	;
		text-align: center;
		vertical-align: middle;
		transition: color ease .3s;
	}
label{
	width: auto;
}
	input[type=checkbox]:checked + label:before {
		color: #000;
	}
	
	
	
	
	

		@media (max-width: 600px) {
			.intro_block {
				flex-direction: column;
			}

			.intro_block a {
			margin: 40px 0;
			}
		}

		.intro_block a {
			text-align: center;
		}

		.intro_block a span {
			margin-bottom: 15px;
    		display: block;
    		font-size: 18px;
		}

		
		.choose_l {
			width: 100px !important;
			height: 100px !important;
		}
		
		
.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {
    display: block;
    width: 100%;
    height: 500px;
    object-fit: cover;
    object-position: center;
}

@media (min-width: 1600px){
    .carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {
        height: 670px;
    }
}



label{
	width: auto;
}
	input[type=checkbox]:checked + label:before {
		color: #000;
	}
	/*tbody tr td{*/
	/*	border-right: 1px solid #feca2b;*/
	/*}*/
	.td_border tr td{
	    border-right: 1px solid #feca2b;
	    padding:5px;
	}
	tbody tr td:last-child{border-right: none;
	}
	.m_bottom{
	    margin-bottom: 35px;
	}
	
	
	
	/*----------------------Agreement----------------------------*/
	
        .border_radius{
            border-radius: 15px;

        }
        .bor_left{
            border-left: 1px solid #FFFFFF;
        }
        .bor_right{
            border-right: 1px solid #feca16;
        }
        .wid50{
            width: 50%;
        }
        .wid25{
            width: 25%;
        }
        .in_block1{
            padding: 15px;
        }
        .fsw{
            font-size: 24px;
            font-weight:500;
        }
        .border_rad{
            border-radius: 0 0 15px 15px;
        }
        .df_j{
            display: flex;
            justify-content:center;
            align-items:center;
            
        }
        
        .no_wrap {
            white-space: nowrap;
        } 
        
        .agree_title {
            margin: 40px 0;
            background: #feca2b;
            border-radius: 15px;
            padding: 25px;
            box-shadow: -1px -1px 25px -2px rgba(0,0,0,0.22);
        }
        
@media (min-width: 768px){
    .navbar-nav {
        width: 100%;
    }
    .modal-dialog {
    width: 900px;
    margin: 15px auto;
}
}
.ow-navigation {
     width: 100%;  
}

.ow-navigation .nav.navbar-nav > li:last-child {
    float: right !important;
}


.fixed_link {
    display: none;
    border-radius: 50%;
    background-color: rgb(254, 202, 22);
    padding: 10px;
    top: 66%;
    align-items: center;
    z-index: 10000;
    right: 8%;
    justify-content: center;
    font-weight: bold;
    text-align: center;
    width: 140px;
    position: fixed;
    height: 140px;
    color: #000000;
    animation: animatef 2s linear infinite;
   
}

@keyframes animatef {
    0% {
        box-shadow: 0 0 0 0 rgba(254, 202, 22, 0.7), 0 0 0 0 rgba(254, 202, 22, 7);
    }
    40% {
        box-shadow: 0 0 0 30px rgba(254, 202, 22, 0), 0 0 0 0 rgba(254, 202, 22, 7);
    }
    80% {
        box-shadow: 0 0 0 30px rgba(254, 202, 22, 0, 7), 0 0 0 20px rgba(254, 202, 22, 0);
    }
    100% {
        box-shadow: 0 0 0 0 rgba(254, 202, 22, 0), 0 0 0 20px rgba(254, 202, 22, 0);
    }
}

.fixed_link:hover {
    text-decoration: none;
    color: #000000;
}
.mb_20{
    margin-bottom: 20px;
}

.notice_text {
    margin: 30px;
    text-align: center;
    color: #ff0e0e;
    font-size: 24px;
    font-weight: bold;
}
.pdf_upload_title{
    text-align:center;
    color: #ff0e0e !important;
}

.znach_stil{
    
}
.clmdsak{
    margin-top: -12px;
    margin-left: 1px;
    padding-left: 19px;
}

.red_text {
    color: #ff0e0e;
    font-weight: bold;
}


/*Modal*/
.modal_close{
    background: #fff !important;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    color: #333;
    line-height: 2;
    opacity:1 !important; 
}
.modal_close_2{
    background: #fff;
    font-weight: 900;
}
.modal_bg{
    background: #feca2b !important;
}
.modal_radius{
    border-radius: 15px !important;
}
.admin_downbtn{
        border-radius: 15px;
    padding: 10px;
    background: #feca2b;
    display: block;
    margin: 0 auto;
    width: 80%;
    color: #333;
    text-align: center;
    
}
.admin_downbtn:before{
       content: "\f15c";
    display: inline-block;
    font-family: Fontawesome;
    color: #333;
    margin: 0 13px 0 0;
}
.admin_info_text:after{
    content: "Download";
    display: inline-block;
}
@media (min-width: 768px){
    .navbar-nav {
        width: 100%;
    }
    .modal-dialog {
    width: 900px;
    margin: 15px auto;
}

}
.d_flex{
	display: flex;
}

.d_wrap{
	flex-wrap: wrap;
}
.just_cen{
	justify-content: center;
}
.modal_iflex{
	display: flex;
    flex-direction: column;
    width: 50%;
    border: 2px solid #feca2b;
    float: left;
    padding: 10px;
    height: 170px;
    margin: 5px;
    border-radius: 15px;
}

.modal-body h1 {
    /*min-height: 200px;*/
    text-align: center;
    margin-top: 40px;
}

.modal-body h1 span {
    font-size: 40px;
    font-weight: bold;
}


@media (max-width: 400px) {
	.d_flex{
		display: block;
	}
	.modal_iflex{
		width: 100%;
		height: auto;
		float: none;
		flex-direction: column;
	}
	}

	@media(max-width: 700px){
	    .modal_close{
            background: #fff !important;
            border-radius: 50%;
}
.page-banner{
    height: auto !important;
}

.modal_close_2{
    background: #fff;
    font-weight: 900;
}
.d_flex{
		display: block;
	}
.modal_iflex{
		width: 100%;
		height: auto;
		float: none;
		flex-direction: column;
	}
	}
    
.modal_p{
    height: 70px;
    text-align: center;
}
.modal_height62{
    height: 62px;
}
@media(max-width: 650px){
    .modal_bg{
    background-color: #feca2b !important;
}
}